<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu' ></i>
    <!-- <a href="#" class="nav-link">Friends Search</a> -->
    <form action="#">
      <!-- <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
      </div> -->
    </form>
    <input type="checkbox" id="switch-mode" hidden>
    <label for="switch-mode" class="switch-mode"></label>
    <a href="#" class="notification">
      <i class='bx bxs-bell'></i>
    </a>
  </nav>

  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>


    <div>					
  

        <h2>info log</h2>
        <pre id="otherlog"></pre>
        <br><br><br>

        <div>network:
        <pre id="network"></pre>
        </div>
        </div>



    </div>

    

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
  