<!-- CONTENT -->
<section id="content">
  <%- include('../partials/navbar'); %>

  <!-- MAIN -->
  <main>

    HRZ Balance: 0 
    <br><br>
    ERC20-HRZ Balance: 0 

    <ul class="box-info">
          
    <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
        <h3>Public Key</h3>
        <p>rWYPTp6QMk6LuEx3aoRBSqBc...</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-calendar-check' ></i>
      <span class="text">
        <h3>ID</h3>
        <p id="uuid"></p>
      </span>
    </li>
  </ul>


    </div>

    

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
  