<!-- CONTENT -->
<section id="content">
  <%- include('../partials/navbar'); %>
  <!-- MAIN -->
  <main>

   overview over nodes

    <div id="status"></div>
    </div>

    

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
  