<!-- CONTENT -->
<section id="content">
  <%- include('../partials/navbar'); %>

  <!-- MAIN -->
  <main>

    <ul class="box-info">
    
      <li>
        <i class='bx bxs-group' ></i>
        <span class="text">
          <h3 id="username">@horizonledger</h3>
          <p id="">Username</p>
        </span>
      </li>
      
    </ul>


    <div>					
              <div class="card chat-box" id="mychatbox">
                <div class="card-header">
                  
                </div>
                <div class="card-body chat-content">
                </div>
                <div class="card-footer chat-form">

                <div class="chat-wrapper-register">
                  <input class="register-box" type="text" id="registerInput" placeholder="Register your name here">
                  <button class="chat-btn" id="registerButton">Register Name</button>
                </div>
                <div class="chat-wrapper">
                  <div class="header-chat">Chat</div>
                  <pre id="chatlog"></pre>

                  <div class="type-button">
                  <input class="sent-box" id="input" type="text" autocomplete="off" placeholder="Type something"/>
                  <button type="submit" class="chat-btn" id="sendchat_button"><i class='bx bxs-paper-plane' ></i>Send</button>
                  </div>
                  </div>
                </div>

       
        </div>



    </div>

    

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
  