<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu' ></i>
    <!-- <a href="#" class="nav-link">Friends Search</a> -->
    <form action="#">
      <!-- <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
      </div> -->
    </form>
    <input type="checkbox" id="switch-mode" hidden>
    <label for="switch-mode" class="switch-mode"></label>
    <a href="#" class="notification">
      <i class='bx bxs-bell'></i>
    </a>
  </nav>

  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>


    <ul class="box-info">
          
    <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
        <h3>Public Key</h3>
        <p>rWYPTp6QMk6LuEx3aoRBSqBc...</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-calendar-check' ></i>
      <span class="text">
        <h3>ID</h3>
        <p id="uuid"></p>
      </span>
    </li>
  </ul>


    </div>

    

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
  