<!-- CONTENT -->
<section id="content">
 
  <%- include('../partials/navbar'); %>

  <!-- MAIN -->
  <main>


    <div>					
  

        <h2>info log</h2>
        <pre id="otherlog"></pre>
        <br><br><br>

        <div>network:
        <pre id="network"></pre>
        </div>
        </div>



    </div>

    

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
  