<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class='bx bx-radio-circle'></i>
    <span class="text">Horizon</span>
  </a>
  <ul class="side-menu top">
   
    <li>
      <a href="/">
        <i class='bx bxs-wallet' ></i>
        <span class="text">Wallet</span>
      </a>
    </li>

    <li class="active">
      <a href="/chat">
        
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Chat</span>
      </a>
    </li>

    <li class="active">
      <a href="/gov">
        
        <i class='bx bx-unite' ></i>
        <span class="text">Governance</span>
      </a>
    </li>


    <li class="active">
      <a href="/nodes">
        
        <i class='bx bx-cube-alt' ></i>
        <span class="text">Nodes</span>
      </a>
    </li>


    
    
    <!-- <li>
      <a href="#">
        <i class='bx bxs-user' ></i>
        <span class="text">Profile</span>
      </a>
    </li>
    <li> -->
      <!--<a href="#">
        <i class='bx bxs-group' ></i>
        <span class="text">Team</span>
      </a>-->
    </li>
  </ul>
  
  <ul class="side-menu">
    <li>
      <a href="/settings">
        <i class='bx bxs-cog' ></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <!--<li>
      <a href="#" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>-->
  </ul>
</section>
<!-- SIDEBAR -->